/*---------------------
  Sidebar
-----------------------*/

header{
    z-index: 1;
    position: fixed;
    background: #ccc;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 70px;
  }
  
  .left_area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
  }
  
  .left_area span{
    color: #19B3D3;
  }
    
  .sidebar{
    z-index: 1;
    top: 0;
    background: #00ACB2;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
  }
  
  .profile_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar .profile_info .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
  }
  
  .sidebar .profile_info h4{
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .sidebar .profile_info h5{
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: .7rem;
    font-weight: 500;
  }
  
  .sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  
  .sidebar a:hover{
    background: #19B3D3;
  }
  
  .sidebar i{
    padding-right: 10px;
  }
  
  label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_btn:hover{
    color: #19B3D3;
  }
  
  #check:checked ~ .sidebar{
    left: -185px;
  }
  
  #check:checked ~ .sidebar a span{
    display: none;
  }
  
  #check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
  }
  
  .content{
    width: (100% - 250px);
    margin-top: 60px;
    padding: 20px;
    margin-left: 250px;
    background: url(background.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
  }
  
  #check:checked ~ .content{
    margin-left: 60px;
  }
  
  #check:checked ~ .sidebar .profile_info{
    display: none;
  }
  
  #check{
    display: none;
  }
  
  .mobile_nav{
    display: none;
  }
  
  .content .card p{
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.8;
  }
  
  /* Responsive CSS */
  
  @media screen and (max-width: 780px){
    .sidebar{
      display: none;
    }
  
    #sidebar_btn{
      display: none;
    }
  
    .content{
      margin-left: 0;
      margin-top: 0;
      padding: 10px 20px;
      transition: 0s;
    }
  
    #check:checked ~ .content{
      margin-left: 0;
    }
  
    .mobile_nav{
      display: block;
      width: calc(100% - 0%);
    }
  
    .nav_bar{
        background: #ccc;
      width: (100% - 0px);
      margin-top: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }
  
    .nav_bar .mobile_profile_image{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  
    .nav_bar .nav_btn{
      color: #fff;
      font-size: 22px;
      cursor: pointer;
      transition: 0.5s;
      transition-property: color;
    }
  
    .nav_bar .nav_btn:hover{
      color: #19B3D3;
    }
  
    .mobile_nav_items{
      background: #2F323A;
      display: none;
    }
  
    .mobile_nav_items a{
      color: #fff;
      display: block;
      background: #00ACB2;
      text-align: center;
      letter-spacing: 1px;
      line-height: 60px;
      text-decoration: none;
      box-sizing: border-box;
      transition: 0.5s;
      transition-property: background;
    }
  
    .mobile_nav_items a:hover{
      background: #19B3D3;
    }
  
    .mobile_nav_items i{
      padding-right: 10px;
    }
  
    .active{
      display: block;
    }
  }
  
  
  /*---------------------
    ADMISSION and APPOINTMENT
  -----------------------*/
  
  .intro {
    height: 100%;
  }
  
  table td,
  table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  thead th {
    color: #fff;
  }
  
  .card {
    border-radius: .5rem;
  }
  
  .table-scroll {
    border-radius: .5rem;
  }
  
  .table-scroll table thead th {
    font-size: 1.25rem;
  }
  thead {
    top: 0;
    position: sticky;
  }
  
  .filter_class{
    padding-right: 0.5rem!important;
    padding-left: 0.5rem!important;
    border: 1px solid #00ACB2;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #00ACB2;
    padding: 5px 5px; 
  }
  
  .tab-row{
    background: #00ACB2;
  }
  
  .cont-table{
    margin-bottom: 5rem;
  }
  
  .content .cont-header{
    margin-top: 1rem;
    color: #00ACB2;
    font-size: 1rem;
    padding-left: 1rem;
  }
  
  .content .cont-header .context-text{
    margin-top: 2rem;
    padding-left: 1rem;
  }
  
  
  /*---------------------
    Patient List
  -----------------------*/
  
  .search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
      
    }
  
    .search input{
  
     height: 60px;
     text-indent: 25px;
     border: 2px solid #d6d4d4;
  
  
    }
  
    .cont-search{
      margin-top: 2rem;
      padding-left: 3rem;
      width: 100%;;
    }
  
    .search input:focus{
  
     box-shadow: none;
     border: 2px solid #00ACB2;
  
  
    }
  
    .search .fa-search{
  
     position: absolute;
     top: 20px;
     left: 16px;
  
    }
  
    .search button{
  
     position: absolute;
     top: 5px;
     right: 5px;
     height: 50px;
     width: 110px;
     background: #00ACB2;
  
    }